.service-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  background-image: url(../../../../assets/images/servicebg.png);
  background-repeat: no-repeat;
  background-position: center;
}
.align-item {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
}
.img-div .img {
  width: 252px;
  height: 242px;
  flex-shrink: 0;
  filter: brightness(45%);
}
.up {
  align-items: flex-start;
}
.down {
  align-items: flex-end;
}
.img-div {
  column-gap: 20px;
  justify-content: center;
}
.centered-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  font-family: Gilroy-Bold;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 36px */
}
