.clientsay-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    background-image: url(../../../../assets/images/client.png);
    background-repeat: no-repeat;
    background-position: center;
  }
  .client-feeedback{
    border-radius: 0px 0px 236px 0px;
background: #F8F8F8;
text-align: left;
display: flex;
flex-direction: column;
justify-content: center;
  }
  