@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: white;
  font-family: Gilroy-Medium;
}

.flex-div {
  display: flex;
  justify-content: space-between;
}

.padding-sm {
  padding: 20px 0;
}
.padding-lg {
  padding: 10px 20px;
}
.gap-sm {
  gap: 10px;
}
.gap-lg {
  gap: 40px;
}
.btn-not-hover {
  color: #25a4ad;
  border: 1px solid #25a4ad;
  padding: 7px 10px;
  font-family: Gilroy-Medium;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.btn-not-hover:hover {
  background-color: #25a4ad;
  border: 1px solid #25a4ad;
  color: white;
  padding: 7px 10px;
  font-family: Gilroy-Medium;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.text {
  width: 400px;
  color: #313131;
  font-family: Gilroy-Medium;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 147.9%; /* 23.664px */
}
.btn-hover {
  background-color: #25a4ad;
  border: 1px solid #25a4ad;
  color: white;
  padding: 7px 10px;
  font-family: Gilroy-Medium;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.align-item {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.thin {
  color: #313131;
  font-family: Gilroy-Thin;
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 65px */
}
.bold {
  color: #25a4ad;
  font-family: Gilroy-SemiBold;
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}
.btn {
  font-family: Gilroy-Medium;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 7px 10px;
}
