@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background:white;
  font-family: Gilroy-Medium;

}

.flex-div{
  display: flex;
  justify-content: space-between;
}
.hero-banner{
  background-image: url("../assets//images/hero.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
  background-blend-mode: color-burn;
  min-height: 100dvh;
}
.padding-sm{
  padding: 15px 0;
}
.padding-lg{
  padding: 10px 20px;
}
.gap-sm{
  gap: 10px;
}
.gap-lg{
  gap: 20px;
}
.btn-not-hover{
  color: #25A4AD;
  border: 1px solid #25A4AD;
  padding:7px 10px;
  font-family: Gilroy-Medium;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

}
.btn{
font-family: Gilroy-Medium;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding:7px 10px;

}